{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações - Hispital</title>
    <link rel="stylesheet" href="../static/css/informacoes.css">
</head>
<body>
    <header class="header-info">
        <div>
            <button id="buttonBack"><img src="../static/img/seta-esquerda.png" alt="seta para seta-esquerda" id="arrow"></button>
        </div>
        <h1 id="ola-hosp">Hospital!</h1>
        <nav>
            <ul class="menu">
                <li><a href="">Solicitações de Consultas </a></li>
                <li><a href="">Gerenciar Datas </a></li>
                <li><a href="">Interpretar Consulta</a></li>
                <li><a href="">Videochamada com intérprete</a></li>
            </ul>
        </nav>
        <img src="../static/img/logo.png" alt="Logo ASPAS" id="logo">
    </header>
    <h1>Ola, fulano!</h1>
    <h2>Solicitações de consultas</h2>
    <h2>Gerenciar Datas</h2>
    <h2>Contate intérpretes</h2>
    <h2>Videochamada com intérprete</h2>

    <h1>Informações</h1>
    <h2>Datas</h2>

    <div>
        <label>
            <input type="radio" name="data1" value="data1" checked>00/00/0000
        </label>
        <label>
            <input type="radio" name="data1" value="data1">00/00/0000
        </label>
        <label>
            <input type="radio" name="data1" value="data1">00/00/0000
        </label>
    </div>
    
</body>
</html>