{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>ASPAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/hospital_style.css' %}">
</head>

<body>
    {% include 'navbar2.html' %}
    <div class="container mt-2">
        <h1><b>Informacoes</b></h1>
        <h1>{{ consult.user.name }}</h1>
        <h4>Datas sugeridas pelo paciente:</h4>
        {{ consult.date1|date:"d/m/Y" }}, {{ consult.date2|date:"d/m/Y" }}, {{ consult.date3|date:"d/m/Y" }}<br>
        <h3>Observacoes</h3>
        <textarea class="form-control" disabled>{{ consult.observations }}</textarea>
        Modalidade: <div class="text-danger font-weight-bold">{{ consult.getModelity }}</div><br>
        <p>Agendar consulta para:</p>
        <div class="row">
            <div class="form-group col-4">
                <input type="date" class="form-control" name="confirmdata" id="confirmdata">
            </div>
        </div>
        <a href="/hospital/patient/{{ consult.user.id }}/{{ consult.id }}" class="btn btn-outline-primary">Informacoes do paciente</a>
        <button class="btn btn-primary" name="confirm" id="confirm">Confirmar</button>
    </div>
</body>

</html>