{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/hospital_style.css' %}">
    <title>ASPAS</title>
</head>
<body>
    {% include 'navbar2.html' %}
    <section>
        <div class="container mt-2">
            <h1>Vídeochamada com interprete</h1>
            <div class="row justify-content-between">
                <div class="card col-5 mb-4 bg-secondary bcard">
                    <h3 class="card-title">Fulano</h3>
                    <div class="card-body">
                        <!-- note: i removed the django code for testing purposes, because when i comment the django
                            code, it still runs which causes blink or having consults. -->
                        <p class="card-text"><b>Data:</b> 00/00/00</p>
                        <p class="card-text"><b>Observações:</b></p>
                        <textarea class="form-control" disabled>Estou doente</textarea><br>
                        <b>Interprete:</b>   <label class="text-danger">Gustavo</label>
                        <div class="d-flex justify-content-end mt-2">
                            <a href="#" class="btn btn-primary">Abrir vídeochamada</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>