{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>ASPAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/deaf_consults.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    {% if consult.not_found %}
        <h1 class="text-center text-danger">Consulta não encontrada. [ID: {{ consult.id }}]</h1>
        <p class="text-center"><a href="/surdo/consults" class="btn btn-primary">Voltar</a></p>
    {% else %}
        <div class="container mt-2">
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>ERRO!</strong>
                    {{ error }}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>SUCESSO!</strong>
                    {{ success }}
            </div>
            {% endif %}
            <h1>Informações</h1>
            <h3>{{ consult.hospital.name }}</h3>
            {% if consult.confirmed_date != None %}
                <p class="card-text"><b>Data:</b> {{ consult.confirmed_date|date:"d/m/Y" }}</p>
            {% else %}
                <p class="card-text"><b>Datas:</b> {{ consult.date1|date:"d/m/Y" }}, {{ consult.date2|date:"d/m/Y" }}, {{ consult.date3|date:"d/m/Y" }}</p>
            {% endif %}
            <label for="name">Observações</label>
            <textarea name="obs" class="form-control" disabled>{{ consult.observations }}</textarea>
            <p><b class="text-dark">Modalidade: </b><label class="text-danger">{{ consult.getModelity }}</label></p>
            {% if consult.status == 0 or consult.status == 1 or consult.status == 4 %}
                <p class="text-danger"><b class="text-dark">Status:</b> {{ consult.getStringStatus }}</p>
            {% else %}
                <p class="text-success"><b class="text-dark">Status:</b> {{ consult.getStringStatus }}</p>
            {% endif %}

            {% if consult.interpreter %}
                <p class="text-dark"><b>Intérprete:</b> {{ consult.interpreter.user.name }}</p>
            {% else %}
            <p class="text-dark"><b>Intérprete:</b> AGUARDANDO INTÉRPRETE</p>
            {% endif %}
        </div>
        <div class="container mt-2 justify-content-between">
            {% if consult.status == 2 %}
                <a href="" class="btn btn-primary">Confirmar</a>
            {% endif %}
            {% if consult.status != 4 %}
                <a href="/surdo/consult/cancel/{{ consult.id }}" class="btn btn-secondary">Cancelar consulta</a>
                <label>* Limite de 2 dias antes da consulta</label>
            {% endif %}
        </div>
    {% endif %}
</body>

</html>