{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>ASPAS - Hospitais</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="{% static 'css/deaf_map.css' %}">


</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-4" id="content">
        <h2>Hospitais perto de você</h2>
        <form action="#" method="post">
            <select name="hospital" id="hospitalCheck" class="form-control">
                <option value="0" disabled>Selecione o hospital</option>
                {% for hospital in hospitals %}
                    <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                {% endfor %}
            </select>
            
        </form>
        <div id="hospitalmap"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script>
        var map = L.map('hospitalmap').setView([-8.063650828177904, -34.88412106071881], 11);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        {% for hospital in hospitals %}
            var popup = L.popup().setContent("{{ hospital.name }}" + "<br>" + '<a href="/surdo/new/consult" target="_blank">Agendar consulta</a>');
            L.marker([{{ hospital.address.lat }}, {{ hospital.address.lng }}]).bindPopup(popup).addTo(map);
        {% endfor %}
        
    </script>
</body>

</html>