{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/deaf_index.css' %}">
</head>

<body>
    <div class="container mt-2">
        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>ERRO!</strong>
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>

        <script>
            $(".alert").alert();
        </script>
        {% endif %}
        <header class="d-flex justify-content-between">
            <div class="title">
                <h1>Crie uma conta</h1>
            </div>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="deaf-logo">
            </div>
        </header>
        <form action="/surdo/register" onsubmit="return validateForm()" method="post">
            {% csrf_token %}
            <input type="hidden" name="health_plan" value="1">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" class="form-control" placeholder="Nome Completo" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="borndate">Data de nascimento:</label>
                    <input type="date" name="born_date" class="form-control" required>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="cpf">CPF:</label>
                    <input type="number" name="cpf" class="form-control" placeholder="CPF" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-4">
                    <label for="phone">Telefone:</label>
                    <input type="number" name="phone" class="form-control" placeholder="Telefone" required>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="genre">Gênero:</label>
                    <select name="gender" id="genre" class="form-control" required>
                        <option value="-1" disabled selected>Selecione um genero</option>
                        <option value="0">Masculino</option>
                        <option value="1">Feminino</option>
                        <option value="2">Não Binario</option>
                        <option value="3">Outros</option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="zip">CEP:</label>
                    <input type="number" name="zipCode" id="zipCode" onkeyup="validateZIP()" class="form-control"
                        placeholder="CEP" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="zip">Endereço:</label>
                    <input type="text" name="street" class="form-control" id="address" placeholder="Endereço" required>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="complement">Complemento:</label>
                    <input type="text" name="complement" class="form-control" placeholder="Complemento" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-4">
                    <label for="vile">Bairro:</label>
                    <input type="text" name="vile" class="form-control" id="vile" placeholder="Bairro" required>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="city">Cidade:</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Cidade" required>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="zip">UF:</label>
                    <input type="text" name="state" class="form-control" id="uf" placeholder="UF" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="mail">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="confirm_email">Confirmar E-Mail:</label>
                    <input type="email" name="confirm_email" id="confirm_email" class="form-control" placeholder="Confirme seu email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="mail">Senha:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="confirm_email">Confirmar Senha:</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                        placeholder="Confirme seu email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-check">
                    <input type="checkbox" name="read_terms" id="read_terms" class="form-check-input">
                    <label for="read_terms" class="form-check-label">Li e concordo com os termos e uso</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        let url = {
            url: "https://viacep.com.br/ws/",
            filled: false
        }

        function validateZIP() {
            let zip = document.getElementById("zipCode").value;
            if (zip.length == 8) {
                if (url.filled == false) {
                    url.url += zip + "/json";
                    url.filled = true;
                    updateAddress();
                }
            } else {
                url.url = "https://viacep.com.br/ws/",
                    url.filled = false;
            }
        }

        function updateAddress() {
            fetch(url.url)
                .then(function (response) {
                    response.json().then(function (data) {
                        if (data) {
                            updateFields(data)
                        }
                    });
                })
                .catch(function (err) {
                    console.error('Failed retrieving information', err);
                });
        }

        function updateFields(data) {
            document.querySelector('#address').value = data.logradouro;
            document.querySelector('#city').value = data.localidade;
            document.querySelector('#uf').value = data.uf
            document.querySelector('#vile').value = data.bairro;
        }

        function validateForm() {
            canSubmit = true;
            password = document.querySelector("#password").value;
            confirm_password = document.querySelector("#confirm_password").value;

            email = document.querySelector("#email").value;
            confirm_email = document.querySelector("#confirm_email").value;

            terms = document.querySelector("#read_terms")

            if(password != confirm_password) {
                alert("As senhas não conferem")
                canSubmit = false
            }
            if(email != confirm_email) {
                alert("Os e-mails não conferem")
                canSubmit = false
            }
            if(terms.checked == false){
                alert("Você precisa concordar com os termos de serviço")
                canSubmit = false
            }
            return canSubmit
        }
    </script>
</body>

</html>