{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>ASPAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/deaf_consults.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-2">
        <h1>Minhas consultas</h1>
        <div class="row justify-content-between">
        {% if consults %}
            {% for consult in consults %}
            <div class="card col-5 mb-4 bg-secondary">
                <h3 class="card-title">{{ consult.hospital.name }}</h3>
                <div class="card-body">
                    {% if consult.confirmed_date != None %}
                        <p class="card-text"><b>Data:</b> {{ consult.confirmed_date|date:"d/m/Y" }}</p>
                    {% else %}
                        <p class="card-text"><b>Datas:</b> {{ consult.date1|date:"d/m/Y" }}, {{ consult.date2|date:"d/m/Y" }}, {{ consult.date3|date:"d/m/Y" }}</p>
                    {% endif %}
                    <p class="card-text"><b>Obsevações</b></p>
                    <textarea class="form-control" disabled>{{ consult.observations }}</textarea>
                    {% if consult.status == 0 or consult.status == 1 or consult.status == 4 %}
                        <p class="text-danger"><b>STATUS: </b> {{ consult.getStringStatus }}</p>
                    {% else %}
                        <p class="text-success"><b>STATUS: </b> {{ consult.getStringStatus }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-end mt-2">
                        {% if consult.status == 2 and consult.confirmed_date != None %}
                            <a href="#" onclick="return alert('Em breve')" class="text-primary mr-2 mt-1 font-weight-bold">Abrir video chamada</a>
                        {% endif %}
                        <a href="/surdo/consult/{{ consult.id }}" class="btn btn-primary">Ver consulta</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4>Sua consulta esta vazia. <a href="/surdo/new/consult/">Agende uma nova consulta.</a></h4>
        {% endif %}
        </div>
    </div>
    </div>
</body>

</html>