{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Agendar consulta</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/deaf_newconsults.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <section>
        <div class="container mt-3">
            <h1>Agende sua consulta</h1>
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>ERRO!</strong>
                {% for error in errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <form action="/surdo/new/consult" onsubmit="return validateForm()" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="modelity" id="consultType" value="0" required>
                        <label class="form-check-label" for="consultType">Presencialmente</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="modelity" value="1" id="consultType2" required>
                        <label class="form-check-label" for="consultType2">Telemedicina</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="hospital">Hospital</label>
                        <select name="hospital" id="selectHospital" required class="form-control">
                            <option value="0">Selecione uma opção</option>
                            {% for hospital in hospitals %}
                                {% if hospital_id and hospital_id == hospital.id %}
                                    <option value="{{ hospital.id }}" selected>{{ hospital.name }}</option>
                                {% else %}
                                    <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <a href="/surdo/map">Ver hospitais perto de mim</a>
                    </div>
                </div>
                <h3>Selecione as datas em que estará disponível</h3>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="date1">Data 1:</label>
                        <input type="date" class="form-control" name="date1" id="date1" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="date2">Data 1:</label>
                        <input type="date" class="form-control" name="date2" id="date2" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="date3">Data 1:</label>
                        <input type="date" class="form-control" name="date3" id="date3" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="obs">Observações ao médico</label>
                        <textarea name="observations" id="obs" class="form-control" required></textarea>
                    </div>
                </div>
                <button type=button class="btn btn-primary" id="sendbutton">Enviar</button>
        </div>
    </section>
    <div class="confirm2">
        <div class="confirmbox2">
            <br>
            <p>Voce tem centeza para criar uma nova consulta?</p>
            <button type="submit" class="btn btn-primary" id="byes">Sim</button>
            <button type=button class="btn btn-primary" id="bno">Nao</button>
        </div>
    </div>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('sendbutton').addEventListener('click', function () {
            document.querySelector('.confirm2').style.display = 'flex';
        });
        document.getElementById('bno').addEventListener('click', function () {
            document.querySelector('.confirm2').style.display = 'none';
        });
    </script>
    <script>
        function validateForm() {
            canSubmit = true
            currentDate = new Date()
            currentDate.setDate(currentDate.getDate() - 1)
            console.log(currentDate)
            date1 = new Date(document.querySelector("#date1").value)
            date2 = new Date(document.querySelector("#date2").value)
            date3 = new Date(document.querySelector("#date3").value)
            hospital = document.querySelector("#selectHospital").value
            if(date1 < currentDate) {
                alert("A primeira data deve depois ou igual a hoje")
                canSubmit = false
            }
            if(date2 < currentDate) {
                alert("A segunda data deve depois ou igual a hoje")
                canSubmit = false
            }
            if(date3 < currentDate) {
                alert("A terceira data deve depois ou igual a hoje")
                canSubmit = false
            }
            if(hospital == "0"){
                alert("Selecione o hospital")
                canSubmit = false
            }
            return canSubmit
        }
    </script>
</body>

</html>