<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>ASPAS</title>
    <style>
        body {
            font-family:Arial,Helvetica,sans-serif;
            background-color: #aaf;
            color: #55f;
        }
        .c1 {
            background-color: #00a;
            color: #fff;
        }
        .c2 {
            background-color: #00a;
            color: #fff;
            max-height: 300px;
            max-width: 250px;
            padding: 5px;
        }
        .c3 {
            color: #aaf;
        }
        .b1 {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="c1"><h1>ASPAS</h1></div>
    <h1>My Consults</h1>
    <div class="c2">
        <h3>Title 1</h3>
        <p>Date: 2021-04-27</p>
        <p>Information:</p>
        <input type="text" placeholder="Information to appear here">
        <div class="b1">
            <button type="button">View Details</button>
        </div>
    </div><br>
    <div class="c2">
        <h3>Title 1</h3>
        <p>Date: 2021-04-27</p>
        <p>Information:</p>
        <input type="text" placeholder="Information to appear here">
        <div class="b1">
            <button type="button">View Details</button>
        </div>
    </div><br>
</body>
</html>