{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>ASPAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/deaf_consults.css' %}">
</head>
<body>
    <div class="c1">
        <div class="p2">
            <h1 class="text-right">ASPAS</h1>
        </div>
    </div>
    <div class="p1">
        <h1>My Consults</h1>
        <div class="c2">
            <h3>Title 1</h3>
            <p>Date: 2021-04-27</p>
            <p>Information:</p>
            <input type="text" placeholder="Information to appear here">
            <div class="b1">
                <button type="button">View Details</button>
            </div>
        </div>
        <div class="c2">
            <h3>Title 2</h3>
            <p>Date: 2021-04-27</p>
            <p>Information:</p>
            <input type="text" placeholder="Information to appear here">
            <div class="b1">
                <button type="button">View Details</button>
            </div>
        </div>
    </div>
</body>
</html>