{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Informações</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/infoSolicitationView.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h3>Olá, Fulano</h3>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/interpreter/solicitacoes">Solicitações de Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/consultas">Interpretar Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/pagamento">Pagamento</a>
                </div>
            </div>

            <div class="text-right">
                <img src="{% static 'img/logo_Final.png' %}" alt="Logo" class="mr-2" id="logo">
            </div>
        </nav>
        
        <section class="flex">
            <h1>Informações</h1>

            <h2>{{consult.user.name}}</h2>

            <div>
                <h4>Datas: {{consult.date1|date:"d/m/Y"}}</h4>

                <h4>Observações</h4>
                <div >
                    <p id="notes">{{consult.observations}}</p>
                </div>
                <h5>Modalidade: <spam class="text-danger">{{consult.getModelity}}</spam></h5>
            </div>    
            <div id="d-grid gap-2 d-md-block">
                <a href="" class="btn btn-primary">Aceitar</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Rejeitar
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Tem Certeza?</h5>
                        </div>
                        <div class="modal-body">
                            Ao rejeitar você não terá mais acesso a essa consulta.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                            <button type="button" class="btn btn-primary">Sim,Rejeitar</button>
                        </div>
                    </div>
                    </div>
                </div>

                
            </div>
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>