{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Conta Criada</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/interpreterStatus.css' %}">
    </head>
    <body>
    
        <div class="modal-dialog modal-dialog-centered" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">

                    <div class="modal-header">
                        <h2>ASPAS</h2>
                    </div>

                    <div class="modal-body">
                        {% if messages %}
                        <br>
                        <h3>{{ messages }}</h3>
                        <br>
                        {% endif %}
                    </div>
                    
                    <div class="modal-footer">
                        <a type="button" href="../../account/login" class="btn btn-primary">Voltar</a>
                    </div>
              </div>
            </div>
        </div>
    </body>
</html>