{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/registerViewInterpreter.css' %}">
        <title>Registrar interpreter</title>
    </head>
    <body>
        <div class="container mt-2">
            {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>ERRO!</strong>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <script>
                $(".alert").alert();
            </script>
            {% endif %}
            <header class="d-flex justify-content-between">
                <button><img src="{% static 'img/seta-esquerda.png' %}" alt="Botão Voltar" id="arrow"></button>
                <img src="{% static 'img/logo_Final.png' %}" alt="Logo ASPAS" id="logo">
            </header>


            <h1>Crie uma conta</h1>
            <form action="/interpreter/register" method="post">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" class="form-control" placeholder="Nome Completo">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="borndate">Data de nascimento:</label>
                        <input type="date" name="born_date" class="form-control">
                    </div>
    
                    <div class="form-group col-12 col-md-6">
                        <label for="cpf">CPF:</label>
                        <input type="text" name="cpf" class="form-control" placeholder="CPF">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-12 col-md-4">
                        <label for="phone">Telefone:</label>
                        <input type="number" name="phone" class="form-control" placeholder="Telefone">
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="genre">Gênero:</label>
                        <select name="gender" id="genre" class="form-control">
                            <option value="-1" disabled selected>Selecione um genero</option>
                            <option value="0">Masculino</option>
                            <option value="1">Feminino</option>
                            <option value="2">Não Binario</option>
                            <option value="3">Outros</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="zip">CEP:</label>
                        <input type="text" name="zipCode" class="form-control" placeholder="CEP">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="zip">Endereço:</label>
                        <input type="text" name="street" class="form-control" placeholder="Endereço">
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label for="complement">Complemento:</label>
                        <input type="text" name="complement" class="form-control" placeholder="Complemento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-md-4">
                        <label for="vile">Bairro:</label>
                        <input type="text" name="vile" class="form-control" placeholder="Bairro">
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="city">Cidade:</label>
                        <input type="text" name="city" class="form-control" placeholder="Cidade">
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="zip">UF:</label>
                        <input type="text" name="state" class="form-control" placeholder="UF">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="mail">Email:</label>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label for="confirm_email">Confirmar E-Mail:</label>
                        <input type="email" name="confirm_email" class="form-control" placeholder="Confirme seu email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="mail">Senha:</label>
                        <input type="password" name="password" class="form-control" placeholder="Senha">
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label for="confirm_email">Confirmar Senha:</label>
                        <input type="password" name="confirm_password" class="form-control"
                            placeholder="Confirme seu email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-check">
                        <input type="checkbox" name="read_terms" id="read_terms" class="form-check-input">
                        <label for="read_terms" class="form-check-label">Li e concordo com os termos e uso</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>