{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Consultas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/viewConsults.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h3>Olá,{{user.name}}</h3>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/interpreter/solicitacoes">Solicitações de Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/consultas">Interpretar Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/pagamento">Pagamento</a>
                </div>
            </div>

            <div class="text-right">
                <a href="/interpreter/"><img src="{% static 'img/logo_Final.png' %}" alt="Logo" class="mr-2" id="logo"></a>
            </div>
        </nav>

        <div id="customize">
            <h2>Interpretar Consulta</h2>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                
                {% for consult in consults %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{consult.user.name}}</h5>
                            <h6 class="card-title">Data: {{consult.date1|date:"d/m/Y"}}</h6>
                            <h6 class="card-title">Observações:</h6>
                            <p class="card-text">{{consult.observations}}</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a type="button" href="/interpreter/info-datas/{{consult.id}}" class="btn btn-outline-primary">Editar</a>
                                <a href="" class="btn btn-primary" type="button">Abrir Videochamada</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        
    </body>
</html>