{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Consultas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/viewConsults.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/interpreter"><img src="{% static 'img/logo_Final.png' %}" alt="Logo" class="mr-2"></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/interpreter/solicitacoes">Solicitações de Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/consultas">Interpretar Consultas</a>
                    <a class="nav-item nav-link" href="/interpreter/pagamento">Pagamento</a>
                </div>
            </div>

            <div class="text-right" id="someAjust">
                <h3>Olá, {{user.getFirstName}}</h3>
            </div>
        </nav>

        <div id="customize">
            <h2>Interpretar Consultas</h2>

            {% if consults%}
            <div class="row row-cols-1 row-cols-md-2 g-4">
                
                {% for consult in consults %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{consult.user.name}}</h5>
                            {% if consult.confirmed_date != None %}
                                <p class="card-text"></p><h6>Data:</h6>{{ consult.confirmed_date|date:"d/m/Y" }}</p>
                                <p>Data Confirmada</p>
                            {% else %}
                                <p class="card-text"></p><h6>Datas:</h6>{{ consult.date1|date:"d/m/Y" }}, {{ consult.date2|date:"d/m/Y" }}, {{ consult.date3|date:"d/m/Y" }}</p>
                                <p>Data ainda não confirmada</p>
                            {% endif %}
                            <h6 class="card-title">Observações:</h6>
                            <textarea class="form-control" disabled>{{consult.observations}}</textarea>
                            <br>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a type="button" href="/interpreter/info-datas/{{consult.id}}" class="btn btn-outline-primary" id="ajust">Editar</a>
                                <a href="" class="btn btn-primary" type="button">Abrir Videochamada</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            {% else %}
            <h4>Nenhuma Consulta Marcada</h4>
            {% endif %}
        </div>
        
    </body>
</html>