{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Interpretar Consultas</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/viewConsults.css' %}">
    </head>

    <body>

        <header class="header">
            <h1>Olá, Fulano!</h1>
            <nav>
                <ul class="menu">
                    <li><a href="">Solicitações de Consultas </a></li>
                    <li><a href="">Gerenciar Datas </a></li>
                    <li><a href="">Interpretar Consulta</a></li>
                </ul>
            </nav>
            <img src="{% static 'img/logo_Final.png' %}" alt="Logo ASPAS" id="logo">
        </header>

        <h2>Interpretar Consulta</h2>
        <section class="flex">
        
            <div class="cards">
                <h3>Fulano de tal</h3>
                <h4>Data: xx/xx/xx</h4>
                <h4>Observações:</h4>
                <div class="notes">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus provident excepturi repellendus, iure delectus vero inventore eligendi repudiandae necessitatibus non ratione amet nemo optio. Suscipit doloremque quas voluptatibus sed. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate libero ab, corrupti nobis harum molestiae reprehenderit voluptatibus ullam facere repellat, repudiandae voluptatem aliquid praesentium eum consequatur dolor! A, totam amet.</p>
                </div>
                <button class="buttonVideoChat">Abrir Videochamada</button>
            </div>


            <div class="cards">
                <h3>Fulano de tal</h3>
                <h4>Data: xx/xx/xx</h4>
                <h4>Observações:</h4>
                <div class="notes">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus provident excepturi repellendus, iure delectus vero inventore eligendi repudiandae necessitatibus non ratione amet nemo optio. Suscipit doloremque quas voluptatibus sed.</p>
                </div>
                <button class="buttonVideoChat">Abrir Videochamada</button>
            </div>

            

        </section>

        <section class="flex">
        
            <div class="cards">
                <h3>Fulano de tal</h3>
                <h4>Data: xx/xx/xx</h4>
                <h4>Observações:</h4>
                <div class="notes">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus provident excepturi repellendus, iure delectus vero inventore eligendi repudiandae necessitatibus non ratione amet nemo optio. Suscipit doloremque quas voluptatibus sed.</p>
                </div>
                <button class="buttonVideoChat">Abrir Videochamada</button>
            </div>


            <div class="cards">
                <h3>Fulano de tal</h3>
                <h4>Data: xx/xx/xx</h4>
                <h4>Observações:</h4>
                <div class="notes">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus provident excepturi repellendus, iure delectus vero inventore eligendi repudiandae necessitatibus non ratione amet nemo optio. Suscipit doloremque quas voluptatibus sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quia voluptatem, animi dolore voluptates totam libero assumenda porro ipsam soluta placeat accusantium, qui at? Maiores eos doloribus laudantium necessitatibus nulla! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia doloribus, natus quo blanditiis explicabo quibusdam pariatur in earum perferendis veritatis porro exercitationem ullam ipsam! Eligendi sed eveniet ipsum laudantium ad!</p>
                </div>
                <button class="buttonVideoChat">Abrir Videochamada</button>
            </div>

        </section>

    </body>
</html>