{% load static %}
<!doctype html>
<html lang="pt">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-center">
        <aside class="col-sm-4">
            <div class="card mt-5">
                <div class="d-flex justify-content-center">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="deaf-logo">
                </div>
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Entrar</h4>
                    <form action="/account/login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" class="form-control" placeholder="Email" type="email">
                        </div>
                        <div class="form-group">
                            <label>Senha:</label>
                            <input class="form-control" name="password" placeholder="******" type="password">
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-group">
                                <div class="error text-danger">
                                    {% if error %}
                                    <p class="text-danger font-weight-bold">{{ error }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </article>
                <div class="d-flex justify-content-around">
                    <div class="group"> 
                        <a href="/account/register">Cadastre-se</a>
                    </div>
                    <div class="group">
                        <a href="/account/forget">Esqueceu sua senha?</a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</body>

</html>