{% load static %}
<!doctype html>
<html lang="pt">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container justify-content-center mt-5">
        <div class="logo d-flex justify-content-center">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="deaf-logo">
        </div>
        <div class="form d-flex justify-content-center">
            <form action="/account/login/" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="name">E-mail</label>
                        <input type="text" name="email" placeholder="E-mail" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="name">Senha</label>
                        <input type="password" name="password" placeholder="Senha" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>