<!doctype html>
<html lang="en">
  <head>
    <title>Registro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <p class="w-100 text-center">Selecione o que melhor se aplica a você</p>
        <div class="row">
            <select name="type" class="form-control w-100" id="select" onchange="return redirect()">
                <option value="-1" disabled selected>Selecione uma opção</option>
                <option value="0">Surdo</option>
                <option value="1">Interprete</option>
                <option value="2">Hospital</option>
            </select>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const DEAF_ENDPOINT = "/surdo/register";
        const INTERPRETER_ENDPOINT = "/interpreter/register"
        const HOSPITAL_ENDPOINT = "/hospital/register"

        function redirect() {
            let select = document.getElementById('select')
            let value = select.value
            let redirectUrl = ""
            if(value == 0) {
                redirectUrl = DEAF_ENDPOINT
            }else if(value == 1) {
                redirectUrl = INTERPRETER_ENDPOINT
            }else if(value == 2) {
                redirectUrl = HOSPITAL_ENDPOINT
            }
            if(redirectUrl == "") {
                alert("Selecione uma opção válida")
                return
            }
            window.location.href = redirectUrl
        }
    </script>
</body>
</html>