body{
    margin: 0;
    padding: 0;
}

#button1{
    width: 120px;
    height: 40px;
    margin-top: 35px;
    margin-left: 20px;
    background-color: rgb(150, 170, 184);
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#parte_cima{
    background-color: rgb(207, 224, 231);
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

h1{
    background-color: rgb(207, 224, 231);
    text-align: center;
    padding-bottom: 25px;
    margin-top: 0;
    font-size: 50px;
}

img{
    width: 130px;
    height: 40px;
    margin-top: 30px;
}

ul{
    list-style: none;
    padding-top: 60px;
}

#parte_baixo{
    text-align: center
}

li{
    padding: 15px;
}

.buttons{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(150, 170, 184);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}