img{
    width: 130px;
    height: 40px;
    margin-left: 20px;
}

nav{
    margin-bottom: 40px;
}

  
body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#customize{
    margin-left: 50px;
    margin-right: 50px;
}

#someAjust{
    margin-right: 20px;
}